<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PosType" value="INGENICO"/>

    <add key="ApiPrefixes" value="http://127.0.0.1:82/"/>


    <add key="ConType" value="RS232"/>
    <!--<add key="ConType" value="TCPIP"/>-->

    <add key="ServerPort" value="41200"/>
    <add key="ServerAddress" value="10.62.36.201"/>

    <add key="CashierId" value="00"/>
    <add key="CashierPassword" value="1234"/>
    <add key="EcrMode" value="02"/>

  </appSettings>
</configuration>